/* General */
body {
  background-color: #333;
  color: #ccc;
  font-family: sans-serif;
  text-align: center;
}
svg {
  color: #555;
  background-color: #181c20;
  margin: .5em;
}

/* Dog icon */
#dog_icon {
  display:none;
}

/* Axes */
.y-axis-label {
  font-size: 12px;
  font-weight: bold;
  fill: #ddd;
}
.grid {
  color: #444;
}

/* Info and changelog */
#updated_info {
  font-size: 80%;
}
.recent {
  font-style: italic;
  font-size: 12px;
  color: #999;
}
.change-log {
  text-align: left;
  position: relative;
}
.change-log-popup {
  font-size: 12pt;
  text-align: left;
  display: none;
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px;
  /*background-color: #ffffff;*/
  border: 1px solid #111;
  z-index: 1;
}
.info-icon:hover + .change-log-popup {
  display: block;
}
.info-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #c2c2c2;
  background-color: #2222c8;
  cursor: pointer;
}

/* Dashed line */
.dashed {
  stroke-dasharray: 5,5;
}

/* Lines */
#temperature-past-path.line {
  stroke: #d2a923;
}
#pressure-past-path.line {
  stroke: #94c938;
}
#wind-past-path.line {
  stroke: #5db5c4;
}

#precipitation-past-path.line {
  stroke: #383bff;
}
.area {
  fill-opacity: 0.15;
  fill: #9d9d57;
}
#temperature-past-area.area {
  fill: #a29055;
}
#pressure-past-area.area {
  fill: #5fce43;
}
#wind-past-area.area {
  fill: #5db5c4;
}

#precipitation-past-area.area {
  fill: #383bff;
}
.y-axis.temperature {
  stroke: #d2a923;
  fill: #d2a923;
  color: #d2a923;
  stroke-width: 1;
}
.y-axis.wind {
  stroke: #5db5c4;
  fill: #5db5c4;
  color: #5db5c4;
  stroke-width: 1;
}
.y-axis.pressure {
  stroke: #94c938;
  fill: #94c938;
  color: #94c938;
  stroke-width: 1;
}

footer {
  padding: 20px;
}
.y-axis.precipitation {
  stroke: #383bff;
  fill: #383bff;
  color: #383bff;
  stroke-width: 1;
}

footer p {
  font-size: small;
  color: #888888;
}
footer a {
  color: #fc0;
}
h1 {
  font-size: 120%;
}
#notice {
    background-color: #ffeb3b;
    padding: 10px;
    top: 0;

    z-index: 100;
    color: black;
  }
  .topright {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 300%;
  }
  .button {
    cursor: pointer;
  }
  #notices-alert {
    cursor: pointer;
    color: #999;
    font-size: 12pt;
  }

.notice {
  position: relative;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #000000;
  background-color: #ffeb3b;
  color: black;
}

.notice .dismiss-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.notice.read {
  display: none;
  background-color: #999;
}

#notices-alert.unread {
  color: #fc0;
}
#notices-alert.empty {
  display: None;
}

.now-intersection {
    fill: lightblue;
    /*stroke: black;*/
    /*stroke: lightblue;*/
    /*color: lightblue;*/
    stroke-width: 0;
    opacity: 1;
}
.annotation {
  font-size: 10pt;
  fill: lightblue;
  opacity: 0;
}

#pressure .annotation {
  opacity: 1;
}

#pressure .annotation.hard {
  fill: red;
}

.out-of-date-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(65, 2, 2, 83%);
  color: #d3d3d3;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  z-index: 10;
  pointer-events: none;
  border: solid 1px;
}

svg.out-of-date {
  opacity: 0.5;
  filter: grayscale(50%);
}
